@import url(https://fonts.googleapis.com/css?family=Orbitron:400,900,500,700);

html, body {
	font: 16px/1 'Orbitron', arial, sans-serif;
	color: $brown;
}
h1, a {
	font-weight: 700;
}
button {
	outline: none;
}
a {
	color: $orange-lt;
	@include transition(color 0.2s ease-out);
	&:hover {
		color: lighten($orange-lt, 10%);
	}
}