.masthead {
	h1 {
		white-space: nowrap;
		font-size: 6vmin;
		text-align: center;
		padding: 4vmin 1vmin;
		text-shadow: 0.25vmin 0.25vmin 0 rgba($tan,0.6), 0.5vmin 0.5vmin 0 rgba($orange-lt,0.6), 1vmin 1vmin 0 rgba($tan,0.6);
		z-index: 1;
		position: relative;
	}
}