$transition: color 0.3s ease-out, background 0.3s ease-out, border-radius 0.3s ease-out;
$wood: darken(#966F33, 15%);
$gold: darken(gold, 15%);

.tv-container {
	width: 88vmin;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	.outer {
		&3 {
			@include transition($transition);
		}
		&2 {
			@include transition($transition);
		}
		&1 {
			@include transition($transition);
		}
	}
	.dial {
		.control {
			cursor: pointer;
		}
		.svg-icon>svg {
			@include position(absolute, 50% null null 50%);
			margin: -25% 0 0 -25%;
			width: 50%;
			height: 50%;
		}
	}
	.decade- {
		&60s {
			.outer {
				&3 {
					background: $wood;
					border: 1px solid black;
					padding: 0.75vmin;
					border-radius: 1vmin;
					position: relative;
				}
				&2 {
					background: $wood;
					padding: 3vmin 15vmin 3vmin 3vmin;
					position: relative;
					&:after {
						content: '';
						@include position(absolute, 2.75vmin 0.5vmin 2.75vmin null);
						border: 0.01vmin solid black;
						width: 11vmin;
						color: silver;
						font-size: 3.5vmin;
						line-height: 6vmin;
						padding-top: 0.3vmin;
						text-align: center;
						background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0));
						background-size: 100% 1vmin;
					}
				}
				&1 {
					background: silver;
					padding: 1.5vmin;
				}
			}
			.screen {
				position: relative;
				padding-bottom: 75%;
				&:after {
					content: '';
					@include position(absolute, 0px 0px 0px 0px);
					@include size(100%);
					border-radius: 14vmin;
					box-shadow: inset 0 0 0 1vmin gray, 0 0 0 10vmin gray;
					pointer-events: none;
				}
			}
			.dial {
				@include position(absolute, 1vmin 1.3vmin null null);
				width: 8vmin;
				height: 17vmin;
				z-index: 2;
				.control {
					@include position(absolute, null 2vmin 6vmin null);
					border-radius: 50%;
					background: lighten($wood, 5%);
					border: 1px solid black;
					cursor: pointer;
					@include size(6vmin)
					svg {
						fill: black;
					}
					&2 {
						@include size(6vmin);
						right: 2vmin;
						bottom: -2vmin;
					}
				}
			}
		}
		&70s {
			.outer {
				&3 {
					background: $wood;
					border: 1px solid black;
					padding: 0.75vmin;
					border-radius: 1vmin;
					position: relative;
				}
				&2 {
					background: $wood;
					padding: 1vmin 12vmin 1vmin 1vmin;
					position: relative;
					&:after {
						content: '';
						@include position(absolute, 1.75vmin 0.5vmin 1.75vmin null);
						border: 0.01vmin solid black;
						width: 8vmin;
						color: silver;
						font-size: 3.5vmin;
						line-height: 6vmin;
						padding-top: 0.3vmin;
						text-align: center;
						background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.0));
						background-size: 100% 1vmin;
					}
				}
				&1 {
					background: black;
					padding: 1.5vmin;
					border: 0.5vmin solid rgba(0,0,0,0.3);
				}
			}
			.screen {
				position: relative;
				padding-bottom: 68%;
				&:after {
					content: '';
					@include position(absolute, 0px 0px 0px 0px);
					@include size(100%);
					border-radius: 4vmin;
					box-shadow: inset 0 0 0 0vmin black, 0 0 0 10vmin black;
					pointer-events: none;
				}
			}
			.dial {
				@include position(absolute, null 1.3vmin 1vmin null);
				width: 8vmin;
				height: 17vmin;
				z-index: 2;
				.control {
					@include position(absolute, null 1vmin 3vmin null);
					border-radius: 50%;
					background: lighten($wood, 5%);
					border: 1px solid black;
					cursor: pointer;
					@include size(5vmin)
					cursor: pointer;
					&2 {
						bottom: 10vmin;
					}
				}
			}
		}
		&80s {
			margin: 0 auto;
			width: 80%;
			.outer {
				&3 {
					background: white;
					border: 1px solid silver;
					padding: 0.75vmin;
					border-radius: 5vmin;
					position: relative;
				}
				&2 {
					background: gray;
					padding: 1vmin 1vmin 10vmin;
					border-radius: 4vmin;
					position: relative;
					&:after {
						content: 'VHS';
						@include position(absolute, null 28% 1.5vmin 28%);
						border: 0.01vmin solid silver;
						height: 6vmin;
						color: silver;
						font-size: 3.5vmin;
						line-height: 6vmin;
						padding-top: 0.3vmin;
						text-align: center;
					}
				}
				&1 {
					background: gray;
					padding: 1.5vmin;
					border-radius: 4vmin;
					border: 0.5vmin solid rgba(0,0,0,0.3);
				}
			}
			.screen {
				position: relative;
				padding-bottom: 75%;
				&:after {
					content: '';
					@include position(absolute, 0px 0px 0px 0px);
					@include size(100%);
					border-radius: 4vmin;
					box-shadow: inset 0 0 0 0vmin gray, 0 0 0 10vmin gray;
					pointer-events: none;
				}
			}
			.dial {
				.control {
					position: absolute;
					bottom: 2vmin;
					height: 5vmin;
					width: 5vmin;
					svg {
						fill: silver;
						height: 80%;
						width: 80%;
						top: 0;
						left: 0;
						margin: 0 auto;
					}
					&1 {
						left: 13vmin;
					}
					&2 {
						right: 12vmin;
					}
				}
			}
		}
		&90s {
			.outer {
				&3 {
					background: black;
					border: 1px solid silver;
					padding: 0.75vmin;
					border-radius: 2vmin;
					position: relative;
				}
				&2 {
					background: gray;
					padding: 1vmin 1vmin 8vmin;
					border-radius: 1vmin;
					position: relative;
					&:after {
						content: 'DVD';
						@include position(absolute, null 28% 1.5vmin 28%);
						border: 0.01vmin solid black;
						height: 4vmin;
						color: black;
						font-size: 3.5vmin;
						line-height: 4vmin;
						padding-top: 0.3vmin;
						text-align: center;
					}
				}
				&1 {
					background: black;
					padding: 1.5vmin;
					border-radius: 1vmin;
				}
			}
			.screen {
				padding-bottom: 60%;
			}
			.dial {
				.control {
					position: absolute;
					bottom: 0.5vmin;
					height: 5vmin;
					width: 5vmin;
					svg {
						fill: black;
						height: 60%;
						width: 60%;
						top: 0;
						left: 0;
						margin: 0 auto;
					}
					&1 {
						left: 18vmin;
					}
					&2 {
						right: 16vmin;
					}
				}
			}
		}
	}
}
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	//padding-bottom: 70%;
	&.embed-responsive-16by9 {
		padding-bottom: 56.25%;
	}
}
.embed-responsive-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

////////////////////////////
// full screen mode
//////////////////////////
.zoomed {
	.tv-container {
		@include position(absolute, -99999em null null -99999em);
		.dial {
			.control1 {
				display: none;
			}
			.control2 {
				@include position(fixed, null 2vmin 1vmin null);
				z-index: 100;
				color: $tan;
				@include size(6vmin);
				opacity: 0.5;
				svg {
					fill: $tan !important;
					width: 100% !important;
					height: 100% !important;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.embed-responsive-item {
		@include position(fixed, 0px 0px 0px 0px);
		height: 100vh;
		width: 100vw;
	}
	.share-container {
		.share {
			&:not(.open) {
				background: transparent;
			}
			&.open {
				opacity: 1;
				button {
					opacity: 1;
				}
			}
			button {
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

