<div ng-controller="detailsController" class='decade-{{item.id}}'>
<!-- 	<h1>{{item.name}}</h1>
	<p>{{item.description}}</p> -->
	<div class='outer3'>
		<div class='outer2'>
			<div class='video-wrapper outer1'>
				<div class="embed-responsive embed-responsive-16by9 screen">
					<youtube-video class="embed-responsive-item" video-id="initialVideo" player="tv" player-vars="player.vars"></youtube-video>
				</div>
			</div>
			<div class='dial' ng-click='tv.seekTo(99999999)'>
				<div class='control control1'></div>
				<div class='control control2'></div>
			</div>
		</div>
	</div>
</div>