<div class='share' ng-controller="shareController" ng-class="{'open': isActive}">
	<div class='message-container'><div class='message' ng-bind-html="renderHtml(message)"></div><div class='extra-buttons' style='display: none;'><fb:share-button type="button"></fb:share-button></div></div>
	<ul>
		<li class='show-btn'><button ng-click="activeDrawer()" type='button'><i class='svg-icon icon-plus'></i></button></li>
		<!-- <li class='facebook-btn'><button ng-click="showMessage('facebook')" type='button'><i class='svg-icon icon-facebook'></i></button></li> -->
		<li class='twitter-btn'><button ng-click="showMessage('twitter')" type='button'><i class='svg-icon icon-twitter'></i></button></li>
		<li class='donate-btn'><button ng-click="showMessage('donate')" type='button'><i class='svg-icon icon-donate'></i></button></li>
		<li class='github-btn'><button ng-click="showMessage('github')" type='button'><i class='svg-icon icon-github'></i></button></li>
		<li class='contribute-btn'><button ng-click="showMessage('contribute')" type='button'><i class='svg-icon icon-contribute'></i></button></li>
	</ul>
</div>